# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Count_Number_Sum/.vs/Count_Number_Sum/v16/.suo
*.db
*.db-wal
*.ipch
*.cpp
*.filters
*.recipe
*.user
*.log
Count_Number_Sum/Count_Number_Sum/Debug/Count_Number_Sum.log
*.tlog
*.tlog
*.idb
Count_Number_Sum/Count_Number_Sum/Debug/vc142.idb
*.pdb
*.pdb
*.vcxproj
*.vcxproj
*.ilk
*.opendb
*.db-shm
*.sln
